/* ==UserStyle==
@name Element Black
@namespace https://kevincox.ca
@version 0.0.0
@description Make Element's dark theme black. Great for OLED screens.
==/UserStyle== */

@-moz-document domain("app.element.io") {
	.cpd-theme-dark {
		--cpd-color-theme-bg: #000 !important;
		--cpd-color-alpha-gray-400: #FFF3 !important;
		--cpd-color-alpha-gray-500: #FFF3 !important;

		/* Dumb blurred avatar behind sidebar. */
		.mx_BackdropPanel {
			display: none;
		}

		.mx_SpacePanel {
			background: none !important;
		}

		.mx_LeftPanel_wrapper--user {
			background: none !important;
			border-inline: 1px solid var(--cpd-color-alpha-gray-400);
		}
	}
}
