-
	let files = fs.readdirSync(".");

	let scripts = [];
	let styles = [];
	for (let f of files) {
		let isStyle = /\.user\.(css|stylus)$/.test(f);
		let isScript = f.endsWith(".user.ts");

		if (!(isStyle || isScript)) continue;

		let contents = fs.readFileSync( f );

		let data = {
			href: f,
			slug: f.replace(/\..*/, ""),
			name: /@name (.*)/.exec(contents)[1],
			desc: /@description (.*)/.exec(contents)[1],
		};

		(isScript ? scripts : styles).push(data);
	}

h1 Kevin's User Scripts

h2 Scripts
each file in scripts
	h3(id=file.slug)
		a(href=file.href) #{file.name}
	p #{file.desc}

h2 Styles
each file in styles
	h3(id=file.slug)
		a(href=file.href) #{file.name}
	p #{file.desc}
